<table>
  <tbody>
    <% post.comments.each do |comment| %> 
    <tr>
      <td>
        <%= image_tag comment.user.get_icon_image(50,50),class:"icon" %>&emsp;<br>
        <%= link_to user_path(comment.user) do %>
        <%= comment.user.user_name %>
        <% end %>
      </td>
      <td>
        <i class="fas fa-caret-right"></i>&emsp;&emsp;
      </td>
      <td>
        <%= simple_format(comment.comment) %> &emsp;&emsp;
      </td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to post_comment_path(post_id: post.id, comment_id: comment.id), method: :delete, data: { confirm: "本当に消しますか?" }, class: "button-12", role: "button", style: "margin-top: 2px;" do %>
            <span>delete</span>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>