<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      
  <div class="row">
    <ul>
      <li>
        <strong>Profile</strong>
        <br>
        <%= image_tag @user.get_icon_image(100,100),class:"icon" %>
      </li>
      <li>
        name：<%= @user.user_name %>
      <br>
        user_id：<%= @user.id %>
      </li>
      <li>
        <% if current_user %>
        <% if current_user.email == 'guest@example.com' && current_user.email == @user.email %>
          <p>※ゲストユーザーはユーザー情報の編集ができません。</p>
          <%= link_to "", favorites_users_path, class: "fas fa-heart" %>
          <%= link_to "", room_path(@user), class: "far fa-comment-dots" %>
          <%= link_to "", new_post_path, class: "fas fa-edit" %>
        <% elsif current_user == @user %>
          <%= link_to "", users_information_edit_path(id: @user), class: "fas fa-cog" %>
          <%= link_to "", favorites_users_path, class: "fas fa-heart" %>
          <%= link_to "", room_path(@user), class: "far fa-comment-dots" %>
          <%= link_to "", new_post_path, class: "fas fa-edit" %>
        <% else %>
          <!-- 他のユーザー向けの表示 -->
        <% end %>
      <% else %>
        <!-- ログインしていないユーザー向けの表示 -->
      <% end %>
      </li>
      <li>
        <%= link_to "follow", user_followings_path(@user), class: "link" %>:<%= @user.followings.count %>
      <br>
        <%= link_to "follower", user_followers_path(@user), class: "link" %>:<%= @user.followers.count %>
      </li>
      <li>
        <%= render "relationships/btn", user: @user, options: { class: "button-14", role: "button", style: "margin-top: 2px;" } %>
      </li>
    
      <li>
        <% if current_user != @user %>
          <%= link_to 'D M', chat_path(@user.id), class: "button-14", role: "button", style: "margin-top: 2px;" %>
        <% end %>
      </li>
    </ul>
  </div>
  
  <div class="row">
    <% @posts.each do |post| %>
      <div>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(350,350) %>
        <% end %>
      </div>
    <% end %>
  </div>
  
    </div>
  </div>
</div>