<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      <h1>ユーザー詳細</h1>
<!-- ユーザーの詳細 -->
<div>
  <p><strong>Profile</strong></p>
  <p>name：<%= @user.user_name %></p>
  <p>user_id：<%= @user.id %></p>
  <%= link_to "", users_information_edit_path, class: "fa-solid fa-gear" %>
  <%= link_to "", root_path, class: "fa-solid fa-heart" %>
  <%= link_to "", rooms_path, class: "fa-solid fa-envelope" %>
  <%= link_to "", new_post_path, class: "fa-solid fa-pen-to-square" %>
  
  <!--<p>フォロー数: <#%= @user.followings.count %></p>-->
  <!--<p>フォロワー数: <#%= @user.followers.count %></p>-->
  <p><%= render "relationships/btn", user: @user, options: { class: "follow-link" } %></p>
  
  <%= image_tag @user.get_icon_image(100,100),class:"icon" %>
  
<!--<#% unless @user.id == current_user.id %>-->
<!--  <#% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>-->
<!--    <#% if @isRoom == true %>-->
<!--  <p class="user-show-room"><a href="/rooms/<#%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>-->
<!--    <#% else %>-->
<!--      <#%= form_for @room do |f| %>-->
<!--      <#%= fields_for @entry do |e| %>-->
<!--      <#%= e.hidden_field :user_id, value: @user.id %>-->
<!--      <#% end %>-->
<!--      <#%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>-->
<!--      <#% end %>-->
<!--    <#% end %>-->
<!--  <#% end %>-->
<!--<#% end %>-->
  
</div>

 <!--ユーザーの投稿一覧 -->
<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(600,600) %>
  <% end %>
</div>
<% end %>
    </div>
  </div>
</div>