<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
      <%= image_tag @user.get_icon_image(100,100), class:"icon" %><%= @user.user_name %> さんとのチャット</h1>
      <hr>
      <div class="chats">
        <div class="chat">
          <% if @chats.present? %>
            <% @chats.each do |chat| %>
              <div class="chat-box">
                <div class="chat-face">
                  <%= image_tag chat.user.get_icon_image(100,100), class:"icon" %>
                </div>
                <div class="chat-hukidashi"> <strong><%= simple_format(chat.content) %></strong> <br>
                  <%= chat.created_at.strftime("%Y-%m-%d %H:%M")%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <div class="errors">
          <%= render "layouts/errors", obj: @chat %>
        </div>
        
        <div class="text-right">
          <div class="posts">
            <%= form_with model: @chat, data: {remote: true} do |f| %>
              <%= f.text_area :content, class: "w-100", rows: 3 %>
              <%= f.hidden_field :room_id %>
              <%= f.submit "送信", class: "button-14", role: "button", style: "margin-top: 2px;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
