<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      <h1>GroupRooms</h1>
        <div class="chat-group">
          <h5>チャットグループ一覧</h5>
              
            <div class="group-new">
                <%= link_to 'グループ作成', new_group_room_path, class: "button-8", role: "button" %>
            </div>
            <br>
            <br>
              <% if @group_room_joining == [] %>
                <%= @group_room_lists_none %>
              <% else %>
                <div class="group-list">
                  <div class="group-list-table">
                    <% @group_room_lists.each do |list| %>
                      <% if list.user_ids.include?(current_user.id) %>
                        <div class="group-list-table-each-group">
                          <i class="far fa-hand-point-right"></i>
                          <%= link_to "/group_rooms/#{list.id}",class: "link" do %>
                            <%= list.name %>(<%= list.user_ids.count %>人)
                          <% end %>
                        </div>
                        <div style="display: inline-block; margin-right: 10px;">
                          <%= link_to edit_group_room_path(list.id), class: "button-12", role: "button", style: "margin-top: 2px;" do %>
                            <span>edit</span>
                          <% end %>
                          <%= link_to @post, method: :delete, data: { confirm: "本当に消しますか?" }, class: "button-12", role: "button", style: "margin-top: 2px;" do %>
                            <span>delete</span>
                          <% end %>
                        </div>
                    <% end %>
                   <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            
            <br>
            <br>
            
            <div>
              <%= paginate @group_room_lists %>
            </div>
            
            <div class="user-page">
                <%= link_to 'マイページへ', current_user %>
            </div>
            
        </div>
    </div>
  </div>
</div>