<h1>新規作成</h1>

<%= form_with(model: @group_room, local: true) do |f| %>
  <div class="group_room-new-form">
    <div class="gtoup_room-new-form-name">
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.collection_check_boxes :user_ids, User.all, :id, :user_name %>
    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>