<div class="container">
  <div class="row m-3">
    <div class="col p-3">
              
        <div class="group_room-show">
          <div class="show-group_room-group_chat-back">
            <span class="group_room-show-group_room-group_chat-back">

            </span>
          </div>
        
          <div class="group_chat-group_room-show-talk">
            <div class="members-list">
              <h5>members
                &emsp;
              <% @users.each do |user| %>
                <%= image_tag user.get_icon_image(100, 100), class: "icon" %>
                &emsp;
              <% end %>
              </h5>
            </div>
            <br>
          
            <div class="group_chats">
              <div class="group_chat">
                <% if @group_chats.present? %>
                  <% @group_chats.each do |group_chat| %>
                    <div class="group_chat-box">
                      <div class="group_chat-face">
                        <%= image_tag group_chat.user.get_icon_image(100,100), class:"icon" %>
                      </div>
                      <div class="group_chat-hukidashi"> <strong><%= simple_format(group_chat.message) %></strong> <br>
                        <%= group_chat.created_at.strftime("%Y-%m-%d %H:%M")%>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              
              <div class="errors">
                <%= render "layouts/errors", obj: @group_chat %>
              </div>
              
              <div class="posts">
                <%= form_with model: @group_chat, data: {remote: true} do |f| %>
                  <%= f.text_area :message %>
                  <%= f.hidden_field :group_room_id, value: params[:id] %>
                  <%= f.submit "é€ä¿¡", class: "button-14", role: "button", style: "margin-top: 2px;" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>
</div>