<div class="container">
  <div class="row my-3">
    <div class="col">
      <script src="js/script.js"></script>
      <h1 class="title">Teach&thinsp;Me&thinsp;! </h1>
      <p class="sub_title">It feels to me like we can inspire and <br> put spurs to each other and I think that is amazing.</p>
      <br>
      <br>
      
<div class="row">
  <div class="col">
    <h6 class="border-bottom"><strong>new!</strong></h6>
        <!--新着投稿。posts controllerにstrong parameter記載されていれば動くはず-->
        <div class="new_posts_container">
          <% @posts.each do |post| %>
          <div class="new_posts_icon">
            <div class="hover">
              <span><%= link_to post_path(post) do %><%= image_tag post.user.get_icon_image(150,150), class: "icon" %><% end %></span><br>
            </div>
          </div>
          <% end %>
         </div>
      </div>
    </div>
    
    <br>
    <br>
    <br>

    
    <!--新着９件を新しい順に表示-->
    <ul class="new_posts">
       <% @posts.each do |post| %>
        <li>
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image(320,320), class: "newpost_image" %>
        <% end %>  
        </li>
       <% end %>
   </ul>

     <div class="d-flex my-3 justify-content-end">
       <%= link_to "more ▷▷", posts_path, class:"link" %>
     </div>
    </div>
  </div>
</div>
