<div class="container">
  <div class="row my-3">
    <div class="col">
      <script src="js/top.js"></script>
      <h1 class="title">
       <span>T</span>
       <span>E</span>
       <span>A</span>
       <span>C</span>
       <span>H</span>
       <span>&nbsp;</span>
       <span>M</span>
       <span>E</span>
      <span>!</span>
      </h1>
      
<div class="row">
  <div class="col">
    <h6 class="border-bottom"><strong>new!</strong></h6>
        <!--新着投稿。posts controllerにstrong parameter記載されていれば動くはず-->
        <div class="new_posts_container">
          <% @posts.each do |post| %>
          <div class="new_posts">
            <div class="hover">
              <span><%= link_to post_path(post) do %><%= image_tag post.user.get_icon_image(150,150), class: "icon" %><% end %></span><br>
            </div>
          </div>
          <% end %>
         </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col mr-1">
        <div class="menu_container">
          <a href="<%= searches_search_path %>"><span><%= image_tag 'Search.png', size:'250x250'%></span></a>
          <% if current_user %>
          <a href="<%= favorites_users_path(current_user.id) %>"><span><%= image_tag 'Favorite.png', size:'250x250'%></span></a>
          <% end %>
          <a href="<%= group_rooms_path %>"><span><%= image_tag 'Groupchatroom.png', size:'250x250'%></span></a>
          <a href="<%= new_post_path %>"><span><%= image_tag 'Newpost.png', size:'250x250'%></span></a>
        </div>
      </div>
    </div>
    
    <!--スライドショーを入れる予定-->
    <ul class="slider">
     <li class="slider-inner">
       <% @posts.each do |post| %>
        <li class="slider-item">
          <%= image_tag post.get_image(400,400), class: "newpost_image" %>
        </li>
       <% end %>
    </li>
   </ul>

     <div class="d-flex my-3 justify-content-end">
       <%= link_to "more ▷▷", posts_path %>
     </div>
    </div>
  </div>
</div>
