<div class="container">
  <div class="row my-3">
    <div class="col">
      <script src="js/script.js"></script>
      <h1 class="title">
       <span>T</span>
       <span>E</span>
       <span>A</span>
       <span>C</span>
       <span>H</span>
       <span>&nbsp;</span>
       <span>M</span>
       <span>E</span>
      <span>!</span>
      </h1>
      
<div class="row">
  <div class="col">
    <h6 class="border-bottom"><strong>new!</strong></h6>
        <!--新着投稿。posts controllerにstrong parameter記載されていれば動くはず-->
        <div class="new_posts_container">
          <% @posts.each do |post| %>
          <div class="new_posts_icon">
            <div class="hover">
              <span><%= link_to post_path(post) do %><%= image_tag post.user.get_icon_image(150,150), class: "icon" %><% end %></span><br>
            </div>
          </div>
          <% end %>
         </div>
      </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="col mr-1">
        <div class="menu_container">
          <ul>
            <li class="menu">
              <%= link_to "S e a r c h", searches_search_path, class:"link" %>
              &ensp;
              <i class="fa-solid fa-magnifying-glass"></i>
            </li>
              &emsp;
            <li class="menu">
              <%= link_to "F a v o r i t e s", favorites_users_path, class:"link" %>
              &ensp;
              <i class="fa-solid fa-heart"></i>
            </li>
              &emsp;
            <li class="menu">
              <%= link_to "G r o u p r o o m", group_rooms_path, class:"link" %>
              &ensp;
              <i class="fa-solid fa-comments"></i>
            </li>
              &emsp;
            <li class="menu">
              <%= link_to "N e w p o s t", new_post_path, class:"link" %>
              &ensp;
              <i class="fa-solid fa-pen-to-square"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <!--新着９件を新しい順に表示-->
    <ul class="new_posts">
       <% @posts.each do |post| %>
        <li>
          <%= image_tag post.get_image(320,320), class: "newpost_image" %>
        </li>
       <% end %>
   </ul>

     <div class="d-flex my-3 justify-content-end">
       <%= link_to "more ▷▷", posts_path, class:"link" %>
     </div>
    </div>
  </div>
</div>
