<div class="search_form">
  <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :range, options_for_select([['Post'], ['User']]) %>
    <%= f.select :search, options_for_select([["All","perfect_match"],["Part","partial_match"]]) %>
    <%= f.submit "検索", class: "button-14", role: "button", style: "margin-top: 2px;" %>
  <% end %>
</div>
