<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
      <%= flash[:notice] %>
      </div>
      
      <h1>Post show</h1>
        <%= image_tag @post.user.get_icon_image(100,100),class:"icon" %>
        <%= link_to @post.user.user_name, user_path(@post.user.id) %>
      <div>
        <%= image_tag @post.get_image(550,550) %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="post-details">
        <br>
        <br>
        <br>
        <p><%= simple_format(render_with_hashtags(@post.caption)) %></p>
      </div>
      
      <div class="button">
        <% if @post.user == current_user %>
          <div style="display: inline-block; margin-right: 10px;">
            <%= link_to edit_post_path, class: "button-12", role: "button", style: "margin-top: 2px;" do %>
              <span>edit</span>
            <% end %>
            <%= link_to @post, method: :delete, data: { confirm: "本当に消しますか?" }, class: "button-12", role: "button", style: "margin-top: 2px;" do %>
              <span>delete</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <br>
      <%= link_to @post.post_url do %>
        <span>Check the Web</span>
      <% end %>
      <br>
      <br>
      <!--SNS連携ボタンの設置-->
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={URL}&text={TEXT}">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="http://35.78.169.164/" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      
    </div>
  </div>
</div>
      
<div class="container">
  <div class="row">
    <div class="col-md-6">
  
      <div class="post-interactions">
        <div class="button-container">
          <div id="favorite_btn_<%= @post.id %>">
            <%= render "favorites/btn", post: @post %>
          </div>
          <div class="teachme-button">
            <%= link_to teachme_post_path(@post),method: :post, class: "button-8", role: "button" do %>
            <span>Teachme!</span>
            <% end %>
            <i class="fas fa-eye"></i>
            <span class="teachme-count"><%= @post.teachmes_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <p id="comment_counter">comment： <%= @post.comments.count %></p>
        <div id="comment_index">
          <%= render "comments/index", post: @post, comment: @comment %>
        </div>
          <%= render "comments/form", post: @post, comment: @comment %>
        
      </div>
    </div>
  </div>
</div>