<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Post show</h1>
      <%= image_tag @post.user.get_icon_image(100,100),class:"icon" %>
      <%= link_to @post.user.user_name, user_path(@post.user.id) %>
      <div><%= image_tag @post.get_image(550,550) %></div>
    </div>

    <div class="col-md-6">
      <div class="post-details">
        <br>
        <br>
        <br>
        <p>投稿文：<%= render_with_hashtags(@post.caption) %></p>
        <div class="button-container">
  <% if @post.user == current_user %>
    <div style="display: inline-block; margin-right: 10px;">
      <%= link_to edit_post_path, class: "button-12", role: "button", style: "margin-top: 2px;" do %>
        <span>edit</span>
      <% end %>
      <%= link_to post_path(@post), class: "button-12", role: "button", style: "margin-top: 2px;" do %>
        <span>delete</span>
      <% end %>
    </div>
  <% end %>
</div>
<br>
         <%= link_to @post.post_url do %>
         <span>Check the Web</span>
         <% end %>
      </div>
    </div>
  </div>
</div>
      
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="post-interactions">
        <div class="button-container">
          <div id="favorite_btn_<%= @post.id %>">
            <%= render "favorites/btn", post: @post %>
          </div>
          <div class="teachme-button">
            <%= link_to @post.code_url,class: "button-8", role: "button" do %>
            <span>Teachme!</span>
            <% end %>
            <span class="teachme-count"><%= @post.teachmes_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <p>comment： <%= @post.comments.count %></p>
        <%= render "comments/index", post: @post %>
        <%= render "comments/form", post: @post, comment: @comment %>
        
      </div>
    </div>
  </div>
</div>