<!DOCTYPE html>
<html>
  <head>
    <title>Teach me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/8ad5b3c4dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
  </head>
  
  <body class ="d-flex flex-column vh-100">
    <header class="header">
      
      <div class="top-nav fixed-top">
        <% if user_signed_in? %>
        <ul class="nav">
          <li class="ml-auto">
            <span><%= link_to user_path(current_user) do %><%= image_tag current_user.get_icon_image(60,60),class:"icon" %><% end %></span>
          </li>
        </ul>
        <% end %>
      </div>
      
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <a class="navbar-brand mr-auto" href="<%= homes_about_path %>">
              <span><%= image_tag 'Logo1.jpg', size:'200x200' %></span>
            </a>
          </div>
        </div>
          <div class="row">
            <ul class="nav ml-auto">
              <% if user_signed_in? %>
                <li><%= link_to "Home", root_path, class:"link" %></li>
                <li>|</li>
                <li><%= link_to "Mypage", user_path(current_user.id), class:"link" %></li>
                <li>|</li>
                <li><%= link_to "All Post", posts_path, class:"link" %></li>
                <li>|</li>
                <li><%= link_to "Notice", notifications_path, class:"link" %>
                    <% if current_user.notifications.where(checked: false).exists? %>
                      <i class="far fa-bell fa-circle"></i>
                    <% else %>
                      <i class="far fa-bell"></i>
                    <% end %>
                </li>
                <li>|</li>
                <li><%= link_to "Logout", destroy_user_session_path, class:"link", method: :delete %></li>
                    &emsp;
              <% else %>
                <li><%= link_to "Home", root_path, class:"link" %></li>
                <li>|</li>
                <li><%= link_to "Login", user_session_path, class:"link" %></li>
                <li>|</li>
                <li><%= link_to 'GestLogin', users_guest_sign_in_path, class:"link", method: :post %></li>
                <li>|</li>
                <li><%= link_to "Signup", new_user_registration_path, class:"link" %></li>
                    &emsp;
              <% end %>
            </ul>
          </div>
      </div>
    </header>
    
    <main class="fullscreen">
      <%= yield %>
    </main>

      <div class="bottom-nav fixed-bottom">
        <ul class="nav">
          <li class="ml-auto">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    <footer class="footer">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path, class:"link" %></li>
        <li>|</li>
        <li><%= link_to "About", homes_about_path, class:"link" %></li>
        <li>|</li>
        <li><% if current_user.try(:admin?) %>
              <%= link_to 'Admin_Login', rails_admin_path, class:"link" %>
            <% end %>
        </li>
      </ul>
    </div>
      <p class="copy">©CopyRight Teach me !</p>
    </footer>
  </body>
</html>
